/* --------- */
/* Home section */
/* --------- */

.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }
.home-header {
  padding-top: 30px ;
}

.home-section {
  position: relative;
  z-index: -1;
  background-image: url(../../assets/backgroundclouds.webp);
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 11rem;
  padding-top: 2.5rem;
  background-color: #2f3c3c ;
}
.home-section2 {
  position: relative;
  background-color: #2f3c3c ;
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  padding: 0.5rem 0 2rem ;
  color: whitesmoke;
  text-align: left;
}

.heading {
  text-align: center;
    padding-bottom: 2rem ;
  font-size: 2.4em ;
}

.heading-name {
  text-align: center;
  font-size: 2.8rem;
  padding: 1rem 0px;
}

.main-name {
  color: #207373;
}
.type {

  padding: 3rem 2rem  ; 
  text-align: left; 
}
.Typewriter__wrapper {
  position: absolute ;
  font-size: 1.5rem ;
  color: #268C82 ;
  font-weight: 500 ;

}
.Typewriter__cursor {
  display: none ;
}

.home-pic { padding-bottom: 20px;
   text-align: center; }


.myAvtar {
  justify-content: center ;
  padding-top: 9em ;
}


  .myAvtar {
    padding-top: 2em ;
    padding-bottom: 2em ;
  }


.home-about-section {
  position: relative;
  width: 100%;
  height:auto;
  padding: 6rem 6rem;
}

.home-about-description {
  color: white ;
  padding-bottom: 20px ;
  text-align: center;
}
.home-about-description h1 {
    font-size: 2.6rem;
}

.home-about-body {
  padding-top: 50px;
  font-size: 1.2em ;
  text-align: left;
}

.home-about-social {
  text-align: center ;
  padding-top: 25px;
  color: white ;
  padding-bottom: 15rem;
}
.home-about-social h1 {
  font-size: 2.8rem;
}
.home-about-social p {
  font-size: 1.3rem;
}
.home-about-social-links {
  justify-content: center ;
  padding-top: 15px ;
  display: inline-block ;
  position: relative ;
  padding-inline-start: 0 ;
}

.home-social-icons {
  position: relative ;
  display: inline-block ;
  width: 55px;
  height: 55px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2em ;
  background: rgba(255, 255, 255, 0.972) ;
  border-radius: 50% ;
  transition: 0.5s ;
}
.home-social-icons:hover {
  color: #FB005B;
  box-shadow: 0 0 30px #FB005B;
  text-shadow: 0 0 10px #FB005B;
}

.social-icons {
  display: inline-block ;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #FB005B ;
}



@media (min-width: 767px) {

  .home-section {
    background-repeat: repeat;
    padding-bottom:7rem;
    padding-top: 3rem;
  }
  .type {
    width: 100%;
    text-align: center;
  }

.Typewriter__wrapper {
  margin: 1px;
  position: absolute ;
    font-size: 2.4rem ;
    position: relative ;
  }
  .home-about-body {
    padding: 0rem 5rem;
    text-align: center;
  }
  .home-about-section {

    height: 90vh;
    padding: 6rem 6rem;
  }
  .home-about-description h1 {
    padding: 2rem ;
}
.home-social-icons {
  width: 65px;
  height: 65px;
  font-size: 1.8rem;
}
.home-about-social h1 {
  font-size: 3rem;

}
.home-about-social p {
  font-size: 1.8rem;
}
}