/* --------- */
/* Home section */
/* --------- */

/* Este wave es el movimiento de la manito, un monton verdad? */

.wave {
    animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
    animation-duration: 2.1s; /* Change to speed up or slow down */
    animation-iteration-count: infinite; /* Never stop waving :) */
    transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
      
    } /* The following five values can be played with to make the waving more or less extreme */
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } /* Reset for the last half to pause */
    100% {
      transform: rotate(0deg);
    }
  }
.home-header {
  padding-top: 30px ;
}

.home-section {
  position: relative;
  z-index: -1;
  background-image: 
  url(https://img.freepik.com/vector-gratis/conjunto-iconos-nubes-blancas-dibujos-animados-aislado-azul_90220-262.jpg?w=740&t=st=1669689992~exp=1669690592~hmac=73bc1164ead75bcda0f61f167faa81a0536b5c311f1e164c7b2bcb91a83bdf7e);
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 65px ;
  padding-top: 60px ;
  background-color: #2f3c3c ;
}
.home-section2 {
  position: relative;
  /* z-index: -1103; */
  background-color: #2f3c3c ;
  /* background-image: var(--image-gradient) url(https://i.pinimg.com/originals/d9/42/37/d94237b8bef74f4f024d93d714fc8780.png); */
  background-position: top center;
  background-repeat: no-repeat;
  padding-bottom: 30px ;
  padding-top: 30px ;
  padding: 0.5rem 0 2rem ;
  color: whitesmoke;
  text-align: left;
}

.heading {
    padding-bottom: 2rem ;
  font-size: 2.4em ;
  /* padding-left: 50px ; */
}

.heading-name {
  text-align: center;
  font-size: 2.8rem;
  padding: 1rem 0px;
}

.main-name {
  color: #207373;
}
.type {

  padding: 3rem 2rem  ; 
  text-align: left; 
}
.Typewriter__wrapper {
  position: absolute ;
  font-size: 1.5rem ;
  color: #268C82 ;
  font-weight: 500 ;

}
.Typewriter__cursor {
  display: none ;
  /* font-size: 1.8rem ;
  color: #268C82 ; */
}

.home-pic { padding-bottom: 20px;
   text-align: center; }


.myAvtar {
  justify-content: center ;
  padding-top: 9em ;
}


  .myAvtar {
    padding-top: 2em ;
    padding-bottom: 2em ;
  }


.home-about-section {
  position: relative;
  width: 100%;
  height:auto;
  padding: 6rem 6rem;
}

.home-about-description {
  color: white ;
  padding-bottom: 20px ;
  text-align: center;
}
.home-about-description h1 {
    font-size: 2.6rem;
}

.home-about-body {
  padding-top: 50px;
  font-size: 1.2em ;
  text-align: left;
}

.home-about-social {
  text-align: center ;
  padding-top: 25px;
  color: white ;
  padding-bottom: 15rem;
}
.home-about-social h1 {
  font-size: 2.8rem;
}
.home-about-social p {
  font-size: 1.3rem;
}
.home-about-social-links {
  justify-content: center ;
  padding-top: 15px ;
  display: inline-block ;
  position: relative ;
  padding-inline-start: 0 ;
}

.home-social-icons {
  position: relative ;
  display: inline-block ;
  width: 55px;
  height: 55px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2em ;
  background: rgba(255, 255, 255, 0.972) ;
  border-radius: 50% ;
  transition: 0.5s ;
}
/* 
.home-social-icons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #FB005B;
  transition: 0.5s;
  transform: scale(0.9);
  z-index: -1;
} */

/* .home-social-icons:hover::before {
  transform: scale(1.3);
  box-shadow: 0 0 30px #FB005B;
} */

.home-social-icons:hover {
  color: #FB005B;
  box-shadow: 0 0 30px #FB005B;
  text-shadow: 0 0 10px #FB005B;
}

.social-icons {
  display: inline-block ;
  padding-right: 15px;
  padding-left: 15px;
}

.icon-colour {
  color: #FB005B ;
}



@media (min-width: 767px) {

  .home-section {
    background-repeat: repeat;
  }
  .type {
    width: 100%;
    text-align: center;
  }

.Typewriter__wrapper {
  margin: 1px;
  position: absolute ;
    font-size: 2.4rem ;
    position: relative ;
  }
  .home-about-body {
    padding: 0rem 5rem;
    text-align: center;
  }
  .home-about-section {

    height: 90vh;
    padding: 6rem 6rem;
  }
  .home-about-description h1 {
    padding: 2rem ;
}
.home-social-icons {
  width: 65px;
  height: 65px;
  font-size: 1.8rem;
}
/* .home-about-social {
  padding-bottom: 15rem;
} */
.home-about-social h1 {
  font-size: 3rem;

}
.home-about-social p {
  font-size: 1.8rem;
}
}