/* --------- */
/* Contact */
/* --------- */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #2c3333;
  background-image: var(--image-gradient), url(../../assets/backgroundimg.jpg);
  height: 101vh;
}

.bmoFace {
  text-align: center;
}
.bmoFace img {
  max-height: 3rem;
}
.contact > h1 {
  color: white;
  font-size: 2.5rem;
  top: 1.5rem;
  position: absolute;
}
.contact-form {
  box-shadow: #000303 1.95px 1.95px 1.6px;
  background-color: #207373;
  padding: 10px 20px 10px 20px;
  border-radius: 20px;
  width: 90vw;
  margin-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    /* height: 125vw; */
}
.label {
  margin: 2px 5px;
  display: block;
  color: #000303;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding: 10px 0 10px 0;

}
.label h5 {
  font-size: 16px;
}
.label input {
  padding: 10px;
  font-size: 16px;
}
.msg textarea {
  box-shadow: #000303 1.95px 1.95px 2.6px;
  height: 20vh;
  font-size: 16px;

}
::placeholder {
  padding: 6px;
  color: #217379;
  font-size: 14px;
}

#name, #email {
  display: flex;
  font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  flex-direction: column;
  height: 30px;
  background-color: #7dd2b8;
  color: #000303;
  border: none;
  width: 100%;
  box-shadow: #000303 1.95px 1.95px 2.6px;
}

#message {
  background-color: #7dd2b8;
  font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
  color: #000303;
  border: none;
  padding: 10px;
  flex-direction: column;
  width: 100%;
}

.boton-submit {
  width: 100%;
  margin-top: 10px;
  background-color: #fb005b;
  border: 1px solid #000303;
  box-shadow: 2px 2px 2px 1px #000303;
  color: white;
  font-size: 16px;
  padding: 5px 0 5px 0;
}
.submit {
  position: relative;
    top: 0rem;
}
@media (min-width: 767px) {
  .contact {
    height: 100vh;
  }
  .contact > h1 {
    filter: drop-shadow(0 0 0.85rem #230b10);
    color: white;
    font-size: 3rem;
    top: 2.5rem;
    position: absolute;
  }
  .contact-form {
    width: 70vh;
    height: 70%;
  }
  .msg textarea {
    height: 20vh;
  }
  .bmoFace img {
    max-height: 4.5rem;
  }
  .label h5 {
    font-size: 20px;
  }
  .submit {
    position: relative;
    top: 0rem;
  }
}
