html {
  box-sizing: content-box;
  --section-background-color: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.582),
    rgba(12, 8, 24, 0.904)
    
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.678),
    rgba(12, 10, 22, 0.863)
  );

  --imp-text-color: #207373;
  
  font-family:'Lucida Sans';
}

.purple {
  color: var(--imp-text-color) !important;
}

/* button:focus {
  box-shadow: none !important;
} */

h1,h2,h3,h4 {
  font-family: 'Roboto', sans-serif;
}
