html {
  box-sizing: content-box;
  --image-gradient: linear-gradient(
    to bottom left,
    rgba(17, 16, 16, 0.138),
    rgba(12, 10, 22, 0.23)
 
  );
  --imp-text-color:  #046f75 ;

  font-family:'Lucida Sans';
}

.purple {
  color: var(--imp-text-color) !important;
}

h1,h2,h3,h4 {
  font-family: 'Roboto', sans-serif;
}
